In [2]:
import requests
import pandas as pd

In [83]:
url = 'https://www.archives.gov/electoral-college/1988'
html = requests.get(url).content
table = pd.read_html(html)

In [84]:
results_df = table[1]

In [87]:
results_df['For Vice-President']

,Unnamed: 5_level_1,Unnamed: 6_level_1,Unnamed: 7_level_1
0,"Michael S. Dukakis, of Massachusetts",NaN,NaN
1,9,-,-
2,3,-,-
3,7,-,-
4,6,-,-
5,47,-,-
6,8,-,-
7,8,-,-
8,3,-,-
9,-,3,-
10,21,-,-
11,12,-,-
12,-,4,-
13,4,-,-
14,24,-,-
15,12,-,-
16,-,8,-
17,7,-,-
18,9,-,-
19,10,-,-
20,4,-,-
21,10,-,-
22,-,13,-
23,20,-,-
24,-,10,-
25,7,-,-
26,11,-,-
27,4,-,-
28,5,-,-
29,4,-,-
30,4,-,-
31,16,-,-
32,5,-,-
33,-,36,-
34,13,-,-
35,3,-,-
36,23,-,-
37,8,-,-
38,-,7,-
39,25,-,-
40,-,4,-
41,8,-,-
42,3,-,-
43,11,-,-
44,29,-,-
45,5,-,-
46,3,-,-
47,12,-,-
48,-,10,-
49,-,5,1
50,-,11,-
51,3,-,-
52,426,111,1

In [78]:
num_veeps = int((results_df.shape[1]-2)/2)
candidate_names = list(results_df.iloc[0,0:-2])
                                       
results_df.columns = ['state','electoral_votes'] +  candidate_names[0:-num_veeps]+ [name+"_VP" for name in candidate_names[0:-num_veeps]]

In [79]:
results_df.head()

,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas","George Bush, of Texas_VP","Michael S. Dukakis, of Massachusetts_VP","Lloyd Bentsen, of Texas_VP"
0,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas","James Danforth Quayle, of Indiana","Lloyd Bentsen, of Texas","Michael S. Dukakis, of Massachusetts",NaN,NaN
1,Alabama,9,9,-,-,9,-,-
2,Alaska,3,3,-,-,3,-,-
3,Arizona,7,7,-,-,7,-,-
4,Arkansas,6,6,-,-,6,-,-

In [52]:
results_df.insert(0,'year',1988)

In [80]:
# drop header row
results_df.drop(results_df.index[0], inplace = True)

In [81]:
# drop VP Columns
results_df.drop(results_df.iloc[:, -num_veeps:], inplace = True, axis = 1) 

#veep_names = results_df.columns[-num_veeps:]
#results_df = results_df.drop(veep_names, axis = 1)

In [82]:
results_df.head()

,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas"
1,Alabama,9,9,-,-
2,Alaska,3,3,-,-
3,Arizona,7,7,-,-
4,Arkansas,6,6,-,-
5,California,47,47,-,-

In [13]:
# drop tail row notes
results_df = results_df.drop(results_df.index[51:])
results_df.tail()

,year,state,electoral_votes,"Donald Trump, of New York","Hillary Clinton, of New York"
47,2016,Virginia,13,-,13
48,2016,Washington****,12,-,8
49,2016,West Virginia,5,5,-
50,2016,Wisconsin,10,10,-
51,2016,Wyoming,3,3,-

In [14]:
results_df.melt(id_vars =['year', 'state', 'electoral_votes'], value_vars = results_df.columns[3:], var_name = 'candidate',value_name='electoral_votes_cand')

,year,state,electoral_votes,candidate,electoral_votes_cand
0,2016,Alabama,9,"Donald Trump, of New York",9
1,2016,Alaska,3,"Donald Trump, of New York",3
2,2016,Arizona,11,"Donald Trump, of New York",11
3,2016,Arkansas,6,"Donald Trump, of New York",6
4,2016,California,55,"Donald Trump, of New York",-
...,...,...,...,...,...
97,2016,Virginia,13,"Hillary Clinton, of New York",13
98,2016,Washington****,12,"Hillary Clinton, of New York",8
99,2016,West Virginia,5,"Hillary Clinton, of New York",-
100,2016,Wisconsin,10,"Hillary Clinton, of New York",-
101,2016,Wyoming,3,"Hillary Clinton, of New York",-

In [16]:
results_df['state'] = results_df['state'].str.extract(r'(\w+( \w+)?)')

In [18]:
results_df.tail()

,year,state,electoral_votes,"Donald Trump, of New York","Hillary Clinton, of New York"
47,2016,Virginia,13,-,13
48,2016,Washington,12,-,8
49,2016,West,5,5,-
50,2016,Wisconsin,10,10,-
51,2016,Wyoming,3,3,-

In [19]:
df = pd.DataFrame()
for year in range(1976,2020,4):
    url = f'https://www.archives.gov/electoral-college/{year}'
    html = requests.get(url).content
    table = pd.read_html(html)
    results_df = table[1]
    
    # count number of veeps in table and name columns accordingly (takes care of 1988 special case)
    num_veeps = int((results_df.shape[1]-2)/2)
    candidate_names = list(results_df.iloc[0,0:-2])
    results_df.columns = ['state','electoral_votes'] +  candidate_names[0:-num_veeps]+ [name+"_VP" for name in candidate_names[0:-num_veeps]]
    
    # add year into dataframe
    results_df.insert(0,'year', year)
    
    # drop header row
    results_df = results_df.drop(results_df.index[0])
    
    #drop any extranious rows at end of dataset
    results_df = results_df.drop(results_df.index[51:])
    
    # drop VP Columns
    num_veeps = int((results_df.shape[1]-3)/2)
    veep_names = results_df.columns[-num_veeps:]
    results_df.drop(veep_names, axis = 1, inplace = True)
    
    # remove any * from state name
    results_df['state'] = results_df['state'].str.replace("*","")
    
    df = df.append(results_df.melt(id_vars =['year', 'state', 'electoral_votes'], value_vars = results_df.columns[3:], var_name = 'candidate',value_name='electoral_votes_cand'))

In [20]:
df.columns = ['year','state','total_electoral_votes','candidate','electoral_votes']
df['electoral_votes'].mask(df['electoral_votes'] == "-",0, inplace =  True)

In [40]:
df['electoral_votes'] = df['electoral_votes'].astype('int64')

In [41]:
df[df['year'] == 1988]['electoral_votes'].sum()

426

In [24]:
df.to_csv("data/electoral_college.csv", index= False)

In [42]:
r2 = list(range(10))

In [60]:
r2[-4:]

[6, 7, 8, 9]

In [59]:
r2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
table[1]

,year,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas","James Danforth Quayle, of Indiana","Lloyd Bentsen, of Texas","Michael S. Dukakis, of Massachusetts"
0,1988,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas","James Danforth Quayle, of Indiana","Lloyd Bentsen, of Texas","Michael S. Dukakis, of Massachusetts",NaN,NaN
1,1988,Alabama,9,9,-,-,9,-,-
2,1988,Alaska,3,3,-,-,3,-,-
3,1988,Arizona,7,7,-,-,7,-,-
4,1988,Arkansas,6,6,-,-,6,-,-
5,1988,California,47,47,-,-,47,-,-
6,1988,Colorado,8,8,-,-,8,-,-
7,1988,Connecticut,8,8,-,-,8,-,-
8,1988,Delaware,3,3,-,-,3,-,-
9,1988,District of Columbia,3,-,3,-,-,3,-
10,1988,Florida,21,21,-,-,21,-,-
11,1988,Georgia,12,12,-,-,12,-,-
12,1988,Hawaii,4,-,4,-,-,4,-
13,1988,Idaho,4,4,-,-,4,-,-
14,1988,Illinois,24,24,-,-,24,-,-
15,1988,Indiana,12,12,-,-,12,-,-
16,1988,Iowa,8,-,8,-,-,8,-
17,1988,Kansas,7,7,-,-,7,-,-
18,1988,Kentucky,9,9,-,-,9,-,-
19,1988,Louisiana,10,10,-,-,10,-,-
20,1988,Maine,4,4,-,-,4,-,-
21,1988,Maryland,10,10,-,-,10,-,-
22,1988,Massachusetts,13,-,13,-,-,13,-
23,1988,Michigan,20,20,-,-,20,-,-
24,1988,Minnesota,10,-,10,-,-,10,-
25,1988,Mississippi,7,7,-,-,7,-,-
26,1988,Missouri,11,11,-,-,11,-,-
27,1988,Montana,4,4,-,-,4,-,-
28,1988,Nebraska,5,5,-,-,5,-,-
29,1988,Nevada,4,4,-,-,4,-,-
30,1988,New Hampshire,4,4,-,-,4,-,-
31,1988,New Jersey,16,16,-,-,16,-,-
32,1988,New Mexico,5,5,-,-,5,-,-
33,1988,New York,36,-,36,-,-,36,-
34,1988,North Carolina,13,13,-,-,13,-,-
35,1988,North Dakota,3,3,-,-,3,-,-
36,1988,Ohio,23,23,-,-,23,-,-
37,1988,Oklahoma,8,8,-,-,8,-,-
38,1988,Oregon,7,-,7,-,-,7,-
39,1988,Pennsylvania,25,25,-,-,25,-,-
40,1988,Rhode Island,4,-,4,-,-,4,-
41,1988,South Carolina,8,8,-,-,8,-,-
42,1988,South Dakota,3,3,-,-,3,-,-
43,1988,Tennessee,11,11,-,-,11,-,-
44,1988,Texas,29,29,-,-,29,-,-
45,1988,Utah,5,5,-,-,5,-,-
46,1988,Vermont,3,3,-,-,3,-,-
47,1988,Virginia,12,12,-,-,12,-,-
48,1988,Washington,10,-,10,-,-,10,-
49,1988,West Virginia,6,-,5,1,-,5,1
50,1988,Wisconsin,11,-,11,-,-,11,-
51,1988,Wyoming,3,3,-,-,3,-,-
52,1988,Total,538,426,111,1,426,111,1