In [1]:
import requests
import pandas as pd

In [93]:
url = 'https://www.archives.gov/electoral-college/1988'
html = requests.get(url).content
table = pd.read_html(html)

In [94]:
results_df = table[1]
results_df.head()

                    State         Electoral Vote  of each  State  \
                    State         Electoral Vote  of each  State
0  George Bush,  of Texas  Michael S. Dukakis,  of Massachusetts
1                 Alabama                                      9
2                  Alaska                                      3
3                 Arizona                                      7
4                Arkansas                                      6

              For President                                      \
         Unnamed: 2_level_1                  Unnamed: 3_level_1
0  Lloyd Bentsen,  of Texas  James Danforth Quayle,  of Indiana
1                         9                                   -
2                         3                                   -
3                         7                                   -
4                         6                                   -

                                                For Vice-President  \
         Unnamed: 4_level_1                     Unnamed: 5_level_1
0  Lloyd Bentsen,  of Texas  Michael S. Dukakis,  of Massachusetts
1                         -                                      9
2                         -                                      3
3                         -                                      7
4                         -                                      6


  Unnamed: 6_level_1 Unnamed: 7_level_1
0                NaN                NaN
1                  -                  -
2                  -                  -
3                  -                  -
4                  -                  -

In [95]:
results_df.drop(columns = ['For Vice-President'], level = 0, inplace = True)

results_df.head()

                    State         Electoral Vote  of each  State  \
                    State         Electoral Vote  of each  State
0  George Bush,  of Texas  Michael S. Dukakis,  of Massachusetts
1                 Alabama                                      9
2                  Alaska                                      3
3                 Arizona                                      7
4                Arkansas                                      6

              For President                                      \
         Unnamed: 2_level_1                  Unnamed: 3_level_1
0  Lloyd Bentsen,  of Texas  James Danforth Quayle,  of Indiana
1                         9                                   -
2                         3                                   -
3                         7                                   -
4                         6                                   -


         Unnamed: 4_level_1
0  Lloyd Bentsen,  of Texas
1                         -
2                         -
3                         -
4                         -

In [96]:
results_df.columns = ['state','electoral_votes'] +  list(results_df.iloc[0,0:-2])

In [97]:
results_df.head()

,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas"
0,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas","James Danforth Quayle, of Indiana","Lloyd Bentsen, of Texas"
1,Alabama,9,9,-,-
2,Alaska,3,3,-,-
3,Arizona,7,7,-,-
4,Arkansas,6,6,-,-

In [98]:
results_df.insert(0,'year',1988)

In [99]:
# drop header row
results_df.drop(results_df.index[0], inplace = True)

In [100]:
results_df.head()

,year,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas"
1,1988,Alabama,9,9,-,-
2,1988,Alaska,3,3,-,-
3,1988,Arizona,7,7,-,-
4,1988,Arkansas,6,6,-,-
5,1988,California,47,47,-,-

In [101]:
# drop tail row notes
results_df = results_df.drop(results_df.index[51:])
results_df.tail()

,year,state,electoral_votes,"George Bush, of Texas","Michael S. Dukakis, of Massachusetts","Lloyd Bentsen, of Texas"
47,1988,Virginia,12,12,-,-
48,1988,Washington,10,-,10,-
49,1988,West Virginia,6,-,5,1
50,1988,Wisconsin,11,-,11,-
51,1988,Wyoming,3,3,-,-

In [102]:
results_df.melt(id_vars =['year', 'state', 'electoral_votes'], value_vars = results_df.columns[3:], var_name = 'candidate',value_name='electoral_votes_cand')

,year,state,electoral_votes,candidate,electoral_votes_cand
0,1988,Alabama,9,"George Bush, of Texas",9
1,1988,Alaska,3,"George Bush, of Texas",3
2,1988,Arizona,7,"George Bush, of Texas",7
3,1988,Arkansas,6,"George Bush, of Texas",6
4,1988,California,47,"George Bush, of Texas",47
...,...,...,...,...,...
148,1988,Virginia,12,"Lloyd Bentsen, of Texas",-
149,1988,Washington,10,"Lloyd Bentsen, of Texas",-
150,1988,West Virginia,6,"Lloyd Bentsen, of Texas",1
151,1988,Wisconsin,11,"Lloyd Bentsen, of Texas",-
152,1988,Wyoming,3,"Lloyd Bentsen, of Texas",-

In [16]:
results_df['state'] = results_df['state'].str.extract(r'(\w+( \w+)?)')

In [18]:
results_df.tail()

,year,state,electoral_votes,"Donald Trump, of New York","Hillary Clinton, of New York"
47,2016,Virginia,13,-,13
48,2016,Washington,12,-,8
49,2016,West,5,5,-
50,2016,Wisconsin,10,10,-
51,2016,Wyoming,3,3,-

In [110]:
df = pd.DataFrame()
for year in range(1976,2020,4):
    url = f'https://www.archives.gov/electoral-college/{year}'
    html = requests.get(url).content
    table = pd.read_html(html)
    results_df = table[1]
    
    # remove veeps from table
    results_df.drop(columns = ['For Vice-President'], level = 0, inplace = True)
    
    # rename columns
    candidate_names = list(results_df.iloc[0,0:-2])
    results_df.columns = ['state','electoral_votes'] + candidate_names
    
    # add year into dataframe
    results_df.insert(0,'year', year)
    
    # drop header row
    results_df = results_df.drop(results_df.index[0])
    
    #drop any extranious rows at end of dataset
    results_df = results_df.drop(results_df.index[51:])
    
    # remove any * from state name
    results_df['state'] = results_df['state'].str.replace("*","")
    results_df['state'] = results_df['state'].str.replace("  \(see Notes\)","")
    
    df = df.append(results_df.melt(id_vars =['year', 'state', 'electoral_votes'], value_vars = results_df.columns[3:], var_name = 'candidate',value_name='electoral_votes_cand'))

In [111]:
# final cleanup and write out
# rename columns
df.columns = ['year','state','total_electoral_votes','candidate','electoral_votes']

# cleeanup electroal votes
df['electoral_votes'].mask(df['electoral_votes'] == "-",0, inplace =  True)
df['electoral_votes'] = df['electoral_votes'].astype('int64') 

# drop duplicates (special case for "Other" in 2016)
df.drop_duplicates(inplace = True)

df.to_csv("data/electoral_college.csv", index= False)

In [119]:
df['state'] = df['state'].str.replace("  \(\)","")
df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [120]:
df.to_csv("data/electoral_college.csv", index= False)

In [22]:
url = 'https://en.wikipedia.org/wiki/United_States_Electoral_College'
html = requests.get(url).content
table2 = pd.read_html(html)

In [23]:
full_electoral_college = table2[4]
full_electoral_college.columns = full_electoral_college.columns.map('|'.join).str.strip('|')

In [137]:
year_groups = full_electoral_college.columns[2:]

In [148]:
new_df = full_electoral_college.iloc[:,0:2]
start_year = 1788
i = 0
for group in year_groups:
    years = group.split("|")[1]  # years ['96'00']
    year_list = list(filter(None,years.split("'")))
    for y in year_list:
        col_name = str(int(start_year)+i) 
        new_df[col_name] = full_electoral_college[group]
        i += 4

In [149]:
new_df.columns

Index(['Electionyear|Electionyear|#|Unnamed: 0_level_3',
       'Electionyear|Electionyear|Total|State', '1788', '1792', '1796', '1800',
       '1804', '1808', '1812', '1816', '1820', '1824', '1828', '1832', '1836',
       '1840', '1844', '1848', '1852', '1856', '1860', '1864', '1868', '1872',
       '1876', '1880', '1884', '1888', '1892', '1896', '1900', '1904', '1908',
       '1912', '1916', '1920', '1924', '1928', '1932', '1936', '1940', '1944',
       '1948', '1952', '1956', '1960', '1964', '1968', '1972', '1976', '1980',
       '1984', '1988', '1992', '1996', '2000', '2004', '2008', '2012', '2016',
       '2020'],
      dtype='object')

In [150]:
key_years = list(map(str,range(1788,2024,4)))
new_df.columns = ['state_no','state'] + key_years

In [151]:
# drop sum row from table
new_df = new_df[:-1]

In [152]:
electoral_college_historic = new_df.melt(id_vars = 'state', value_vars = key_years, var_name = 'year', value_name='electoral_votes')

In [155]:
electoral_college_historic.to_csv('data/electoral_college_historic.csv', index = False)