#TOP 1000 IMBD

##Liberías

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from bs4 import BeautifulSoup
import requests
from time import sleep
from random import randint

In [ ]:
import sys

##Web Scrappint

In [ ]:
headers = {'Accept-Language': 'en-US, en; q=0.5'}

In [ ]:
movie_name = []
year = []
time = []
certificate = []
rating = []
metascore = []
votes = []
gross = []
genre = [] 
description = []

In [ ]:
pages = np.arange (1, 1000, 100)

In [ ]:
for page in pages: 
  page = requests.get ('https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start='+str(page)+'&ref_=adv_nxt')
  soup = BeautifulSoup(page.text, 'html.parser')
  movie_data = soup.findAll ('div', attrs = {'class': 'lister-item mode-advanced'})
  sleep (randint(2,8))
  for i in movie_data: 
    name = i.h3.a.text
    movie_name.append(name)
    
    year_of_release = i.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)
    
    runtime = i.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)
    
    certi = i.p.find('span', class_ = 'certificate').text if i.find('span', class_ = 'certificate') else '**'
    certificate.append(certi)
    
    descrip = i.find_all('p', class_ = 'text-muted')
    descrip_= descrip[1].text.replace('\n', '') if len(descrip) > 1 else '***'
    description.append(descrip_)
    
    rate = i.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)
    
    meta  = i.find('span', class_ = 'metascore').text.replace(' ', '') if i.find('span', class_ = 'metascore') else '**'
    metascore.append(meta)
    
    gen  = i.find('span', class_ = 'genre').text.replace('\n', '') if i.find('span', class_ = 'genre') else '**'
    genre.append(gen)

    value = i.find_all('span', attrs = {'name': 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)

In [ ]:
print(len(movie_name))
print(len(year))
print(len(time))
print(len(certificate))
print(len(rating))
print(len(metascore))
print(len(votes))
print(len(gross))
print(len(genre))

1000
1000
1000
1000
1000
1000
1000
1000
1000

#Creación DF

In [ ]:
top1000imbd = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Runtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Genre':genre,'Votes': votes, 'Gross collection': gross, 'Certificate':certificate, 'Synopsis':description})

In [ ]:
top1000imbd.head(6)

              Name of movie  ...                                           Synopsis
0  The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...
1             The Godfather  ...  An organized crime dynasty's aging patriarch t...
2           Soorarai Pottru  ...  Nedumaaran Rajangam "Maara" sets out to make t...
3           The Dark Knight  ...  When the menace known as the Joker wreaks havo...
4    The Godfather: Part II  ...  The early life and career of Vito Corleone in ...
5              12 Angry Men  ...  A jury holdout attempts to prevent a miscarria...

[6 rows x 10 columns]

In [ ]:
top1000imbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name of movie     1000 non-null   object
 1   Year of relase    1000 non-null   object
 2   Runtime           1000 non-null   object
 3   Movie Rating      1000 non-null   object
 4   Metascore         1000 non-null   object
 5   Genre             1000 non-null   object
 6   Votes             1000 non-null   object
 7   Gross collection  1000 non-null   object
 8   Certificate       1000 non-null   object
 9   Synopsis          1000 non-null   object
dtypes: object(10)
memory usage: 78.2+ KB

In [ ]:
top1000imbd.describe()

       Name of movie  ...                                           Synopsis
count           1000  ...                                               1000
unique           997  ...                                               1000
top         Scarface  ...  An exploration of the dark and miserable Basin...
freq               2  ...                                                  1

[4 rows x 10 columns]

#Creación CSV

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/MyDrive/Ironhack

In [ ]:
pwd

'/content/drive/MyDrive/Ironhack'

In [ ]:
top1000imbd.to_csv('top1000imbd.csv')

----------------------------------------------------------------------

#TOP 1000 GOODREADS

### Set de Kaggle

In [ ]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
gr=pd.read_csv('/.../book_data.csv')
gr.head(2)

                 book_authors  ...                                          image_url
0             Suzanne Collins  ...  https://images.gr-assets.com/books/1447303603l...
1  J.K. Rowling|Mary GrandPré  ...  https://images.gr-assets.com/books/1255614970l...

[2 rows x 12 columns]

In [ ]:
gr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54301 entries, 0 to 54300
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   book_authors       54301 non-null  object
 1   book_desc          52970 non-null  object
 2   book_edition       5453 non-null   object
 3   book_format        52645 non-null  object
 4   book_isbn          41435 non-null  object
 5   book_pages         51779 non-null  object
 6   book_rating        54301 non-null  float64
 7   book_rating_count  54301 non-null  int64
 8   book_review_count  54301 non-null  int64
 9   book_title         54301 non-null  object
 10  genres             51059 non-null  object
 11  image_url          53618 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 5.0+ MB

In [ ]:
#gr.describe()
type(gr)

pandas.core.frame.DataFrame

In [1]:
#gr= gr.groupby("book_isbn")#["last_name"].count()
#gr

In [ ]:
#Para sacar los top, ordenaré de porma descendente el no. de reviews y después extraeré los que tienen mayor rating
gr_top1000= gr.sort_values(by =['book_rating_count'], ascending=False).iloc[0:1000]

In [ ]:
len(gr_top1000)

1000

In [ ]:
gr_top1000.head(1) # >> top 5588580 book_rating_count

                  book_authors  ...                                          image_url
50  J.K. Rowling|Mary GrandPré  ...  https://images.gr-assets.com/books/1474154022l...

[1 rows x 12 columns]

In [ ]:
gr_top1000.tail(1) # >> base 549984 book_rating_count

                      book_authors  ...                                          image_url
37887  Marissa Meyer|Rebecca Soler  ...  https://images.gr-assets.com/books/1358136988l...

[1 rows x 12 columns]

In [ ]:
gr_top1000=gr_top1000.rename(columns= {'genres':'book_genres'})
#gr_top1000.info()

In [ ]:
type(gr_top1000)

pandas.core.frame.DataFrame

###Revisión Sets

####Movie

In [ ]:
imbd_top1000 = pd.read_csv('/content/drive/MyDrive/Ironhack/top1000imbd.csv')
imbd_top1000 = imbd_top1000.loc[:, ~imbd_top1000.columns.str.contains('^Unnamed')] #Para borrar columna 'Unnamed' que sale
imbd_top1000.head(1)

              Name of movie  ...                                           Synopsis
0  The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...

[1 rows x 10 columns]

In [ ]:
type(imbd_top1000)

pandas.core.frame.DataFrame

In [ ]:
renombrar_columnas = {'Year of relase':'movie_year', 'Name of movie': 'movie_name','Runtime':'movie_runtime', 'Movie Rating':'movie_rating', 'Metascore':'movie_metascore', 'Genre':'movie_genre', 'Votes':'movie_votes', 'Gross collection':'movie_gross', 'Certificate':'movie_certificate', 'Synopsis':'movie_synopsis'}
imbd_top1000=imbd_top1000.rename(columns= renombrar_columnas)
imbd_top1000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_name         1000 non-null   object
 1   movie_year         1000 non-null   object
 2   movie_runtime      1000 non-null   int64
 3   movie_rating       1000 non-null   float64
 4   movie_metascore    1000 non-null   object
 5   movie_genre        1000 non-null   object
 6   movie_votes        1000 non-null   object
 7   movie_gross        1000 non-null   object
 8   movie_certificate  1000 non-null   object
 9   movie_synopsis     1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.2+ KB

In [ ]:
imbd_top1000 = imbd_top1000.replace({'**':np.nan, '*****': np.nan})

In [ ]:
#sorted(imbd_top1000.movie_year.unique())

In [ ]:
imbd_top1000.movie_year = imbd_top1000.movie_year.replace({'I 1985':'1985', 'I 1995' : '1995','I 2001':'2001','I 2004': '2004',
                                                           'I 2007': '2007','I 2008': '2008', 'I 2001': '2001', 'I 2010':'2010',
                                                           'I 2011': '2011','I 2013': '2013','I 2014': '2014','I 2015': '2015',
                                                           'I 2016':'2016','I 2017': '2017','II 2015': '2015','II 2016':'2016',
                                                           'III 2016': '2016','III 2018': '2018','I 2020':'2020'})

In [ ]:
#imbd_top1000.movie_runtime.unique()

In [ ]:
#imbd_top1000.movie_rating.unique()

In [ ]:
#imbd_top1000.movie_metascore.unique()

In [ ]:
#imbd_top1000.movie_votes.unique()

In [ ]:
#imbd_top1000.movie_certificate.unique()

In [ ]:
#imbd_top1000 = pd.get_dummies(imbd_top1000.movie_genre)
#imbd_top1000_uni = imbd_top1000.movie_genre.unique()
#len(imbd_top1000_uni)

In [ ]:
gen_=imbd_top1000['movie_genre'].str.split(expand = True)
gen_.columns = ['gen_1', 'gen_2', 'gen_3']

In [ ]:
gen_

       gen_1     gen_2    gen_3
0      Drama      None     None
1     Crime,     Drama     None
2      Drama      None     None
3    Action,    Crime,    Drama
4     Crime,     Drama     None
..       ...       ...      ...
995  Comedy,    Drama,  Romance
996   Drama,   Western     None
997   Drama,   Western     None
998   Drama,  Romance,      War
999   Drama,       War     None

[1000 rows x 3 columns]

In [ ]:
gen_= gen_.replace({',':''}, regex= True) #si no pongo regex= True no quita la coma

In [ ]:
gen_

      gen_1    gen_2    gen_3
0     Drama     None     None
1     Crime    Drama     None
2     Drama     None     None
3    Action    Crime    Drama
4     Crime    Drama     None
..      ...      ...      ...
995  Comedy    Drama  Romance
996   Drama  Western     None
997   Drama  Western     None
998   Drama  Romance      War
999   Drama      War     None

[1000 rows x 3 columns]

In [ ]:
#print(gen_.gen_1.unique())
#print(gen_.gen_2.unique())
#print(gen_.gen_3.unique())

In [ ]:
imbd_top1000 = pd.concat([imbd_top1000, gen_], axis=1)

In [ ]:
type(imbd_top1000)

pandas.core.frame.DataFrame

In [ ]:
imbd_top1000.head(2)

                 movie_name movie_year  movie_runtime  ...  gen_1  gen_2 gen_3
0  The Shawshank Redemption       1994            142  ...  Drama   None  None
1             The Godfather       1972            175  ...  Crime  Drama  None

[2 rows x 13 columns]

In [ ]:
#pd.get_dummies(gen_)

###Books

In [ ]:
gr_top1000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 50 to 37887
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   book_authors       1000 non-null   object
 1   book_desc          999 non-null    object
 2   book_edition       291 non-null    object
 3   book_format        986 non-null    object
 4   book_isbn          737 non-null    object
 5   book_pages         983 non-null    object
 6   book_rating        1000 non-null   float64
 7   book_rating_count  1000 non-null   int64
 8   book_review_count  1000 non-null   int64
 9   book_title         1000 non-null   object
 10  book_genres        1000 non-null   object
 11  image_url          995 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 101.6+ KB

In [ ]:
gr_top1000.tail(2)

                      book_authors  ...                                          image_url
225                Tracy Chevalier  ...  https://images.gr-assets.com/books/1327197580l...
37887  Marissa Meyer|Rebecca Soler  ...  https://images.gr-assets.com/books/1358136988l...

[2 rows x 12 columns]

In [ ]:
#gr_top1000.book_format.unique()

In [ ]:
gr_top1000.book_format = gr_top1000.book_format.replace({'Capa mole':'Capa Mole'})

In [ ]:
gr_top1000.book_pages = gr_top1000.book_pages.replace({'pages': ''},regex= True)

In [ ]:
gr_top1000.book_pages = gr_top1000.book_pages.replace({' ': ''},regex= True)

In [ ]:
#gr_top1000.book_pages.unique()

In [ ]:
#.book_rating.unique()

In [ ]:
#gr_top1000.book_rating_count.unique()

In [ ]:
#gr_top1000.book_review_count.unique()

In [ ]:
gr_top1000.book_genres.unique()

In [ ]:
gen_book = gr_top1000['book_genres'].str.split('|',expand = True)
gen_book.columns= ['gen_1', 'gen_2', 'gen_3', 'gen_4', 'gen_5','gen_6','gen_7','gen_8','gen_9',
                  'gen_10','gen_11','gen_12','gen_13','gen_14','gen_15']

In [ ]:
gen_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 50 to 37887
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gen_1   1000 non-null   object
 1   gen_2   1000 non-null   object
 2   gen_3   986 non-null    object
 3   gen_4   882 non-null    object
 4   gen_5   654 non-null    object
 5   gen_6   392 non-null    object
 6   gen_7   208 non-null    object
 7   gen_8   164 non-null    object
 8   gen_9   160 non-null    object
 9   gen_10  151 non-null    object
 10  gen_11  139 non-null    object
 11  gen_12  137 non-null    object
 12  gen_13  95 non-null     object
 13  gen_14  35 non-null     object
 14  gen_15  11 non-null     object
dtypes: object(15)
memory usage: 125.0+ KB

In [ ]:
gen_book = gen_book[['gen_1', 'gen_2', 'gen_3', 'gen_4']]
gen_book

             gen_1               gen_2               gen_3            gen_4
50         Fantasy         Young Adult             Fiction             None
44271  Young Adult             Fiction     Science Fiction         Dystopia
28154  Young Adult             Fiction     Science Fiction         Dystopia
25990  Young Adult             Fiction     Science Fiction         Dystopia
21895  Young Adult             Fiction     Science Fiction         Dystopia
...            ...                 ...                 ...              ...
176        Fiction          Historical  Historical Fiction         Classics
49047   Historical  Historical Fiction             Fiction       Historical
34654   Historical  Historical Fiction             Fiction       Historical
225     Historical  Historical Fiction             Fiction       Historical
37887  Young Adult             Fantasy     Science Fiction  Science Fiction

[1000 rows x 4 columns]

In [ ]:
gr_top1000 = pd.concat([gr_top1000, gen_book], axis= 1)

In [ ]:
gr_top1000

                                         book_authors  ...            gen_4
50                         J.K. Rowling|Mary GrandPré  ...             None
44271                                 Suzanne Collins  ...         Dystopia
28154                     Suzanne Collins|Ina Jakaitė  ...         Dystopia
25990             Suzanne Collins|Sevinç Tezcan Yanar  ...         Dystopia
21895  Suzanne Collins|Fabio Paracchini|Simona Brogli  ...         Dystopia
...                                               ...  ...              ...
176                                           Amy Tan  ...         Classics
49047                                 Tracy Chevalier  ...       Historical
34654                                 Tracy Chevalier  ...       Historical
225                                   Tracy Chevalier  ...       Historical
37887                     Marissa Meyer|Rebecca Soler  ...  Science Fiction

[1000 rows x 16 columns]

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/MyDrive/Ironhack/

/content/drive/MyDrive/Ironhack

In [ ]:
gr_top1000.to_csv('arregladatop1000gr.csv')

In [ ]:
pd.read_csv ('arregladatop1000gr.csv')

     Unnamed: 0  ...            gen_4
0            50  ...              NaN
1         44271  ...         Dystopia
2         28154  ...         Dystopia
3         25990  ...         Dystopia
4         21895  ...         Dystopia
..          ...  ...              ...
995         176  ...         Classics
996       49047  ...       Historical
997       34654  ...       Historical
998         225  ...       Historical
999       37887  ...  Science Fiction

[1000 rows x 17 columns]

In [ ]:
imbd_top1000.to_csv('arregladatop1000imbd.csv')

In [ ]:
pd.read_csv('arregladatop1000imbd.csv')

     Unnamed: 0                movie_name  movie_year  ...   gen_1    gen_2    gen_3
0             0  The Shawshank Redemption        1994  ...   Drama      NaN      NaN
1             1             The Godfather        1972  ...   Crime    Drama      NaN
2             2           Soorarai Pottru        2020  ...   Drama      NaN      NaN
3             3           The Dark Knight        2008  ...  Action    Crime    Drama
4             4    The Godfather: Part II        1974  ...   Crime    Drama      NaN
..          ...                       ...         ...  ...     ...      ...      ...
995         995    Breakfast at Tiffany's        1961  ...  Comedy    Drama  Romance
996         996                     Giant        1956  ...   Drama  Western      NaN
997         997                     Shane        1953  ...   Drama  Western      NaN
998         998     From Here to Eternity        1953  ...   Drama  Romance      War
999         999                  Lifeboat        1944  ...   Drama      War      NaN

[1000 rows x 14 columns]